<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movies</title>

        <!--  RESPONSIVE  -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS  -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>

        <!-- JavaScript  -->
        <script type="text/javascript">
            var inicio = 0; //se inicializa una variable en 0

            function aumentar(){ 
                var cantidad = document.getElementById('cantidad').value = ++inicio; 
            }

            function disminuir(){ 
                var cantidad = document.getElementById('cantidad').value = --inicio; 
            }

        </script>


    </head>

    <!--           BODY           -->
    <body>
        <div class="bluebox">
        <h1>
            Trending Movies
        </h1>

        {% for x in range (titles2|length) %}
        <!-- cuadro -->
        <div class="box">
            <h2>
                {{titles2[x]}}
            </h2>
        
            <p>
                <img src="https://image.tmdb.org/t/p/w500/{{pic2[x]}}" width="60" height="70"/>
                {{overviews2[x]}} 
            </p>

            <button class="button2" id='aumentar' onclick="aumentar()">👍</button>

            <button class="button2" id='disminuir' onclick="disminuir()">👎</button>
            <input type='text' id="cantidad" value="0">

        </div>
        {% endfor %}
        

        
       
    <!------------------------>

        <div class="whitebox">
            <h1 class="new">
                Discover Movies
            </h1>
            
            {% for i in range (titles|length) %}
            <!-- cuadro -->
            <div class="boxwhite">
                <h2>
                    <img src="https://image.tmdb.org/t/p/w500/{{pic[i]}}" width="60" height="70"/>
                    {{titles[i]}}
                </h2>
    
                <p>
                    {{overviews[i]}} 
                </p>
                <button class="button2" id='aumentar' onclick="aumentar()">👍</button>
                <button class="button2" id='disminuir' onclick="disminuir()">👎</button>
                <input type='text' id="cantidad" value="0">
            </div>
            {% endfor %}

        </div>

    </body>
</html>