<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movies</title>

        <!--  RESPONSIVE  -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS  -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
        

    </head>

    <!--           BODY           -->
    <body>
        <div class="bluebox">
        <h1>
            Trending Movies
        </h1>

        <!-- cuadro -->
        <div class="box">
            <h2>
                {{title1}}
            </h2>

            <p>
                <img src=hh width="50" height="50"/>
                {{overview1}} 
            </p>
            <button class="button2">👍</button>
            <button class="button2">👎</button>
        </div>

        <!-- cuadro -->
        <div class="box">
            <h2>
                {{title2}}
            </h2>

            <p>
                <img src=hh width="50" height="50"/>
                {{overview2}}
            </p>
            <button class="button2">👍</button>
            <button class="button2">👎</button>
        </div>

        <!-- cuadro -->
        <div class="box">
            <h2>
                {{title3}}
            </h2>

            <p>
                <img src=hh width="50" height="50"/>
                {{overview3}}
            </p>
            <button class="button2">👍</button>
            <button class="button2">👎</button>
        </div>
        
        <!-- cuadro -->
        <div class="box">
            <h2>
                {{title13}}
            </h2>

            <p>    
                <img src=hh width="50" height="50"/>
                {{overview13}} 
            </p>
            <button class="button2">👍</button>
            <button class="button2">👎</button>
        </div>

        <!-- cuadro -->
        <div class="box">
            <h2>
                {{title14}}
            </h2>

            <p>                 
                <img src=hh width="50" height="50"/>
                {{overview14}} 
            </p>
            <button class="button2">👍</button>
            <button class="button2">👎</button>
        </div>

    </div>
       

        <div class="whitebox">
            <h1 class="new">
                Discover Movies
            </h1>
            
            <!-- cuadro -->
            <div class="boxwhite">
                <h2>
                    <img src={{img1}} width="50" height="50"/>
                    {{title10}}
                </h2>
    
                <p>
                    {{overview10}}
                </p>
                <button class="button2">👍</button>
                <button class="button2">👎</button>
            </div>

            <!-- cuadro -->
            <div class="boxwhite">
                <h2>
                    <img src=hh width="50" height="50"/>
                    {{title11}}
                </h2>
    
                <p>
                    {{overview11}}
                </p>
                <button class="button2">👍</button>
                <button class="button2">👎</button>
            </div>

            <!-- cuadro -->
            <div class="boxwhite">
                <h2>
                    <img src=hh width="50" height="50"/>
                    {{title12}}
                </h2>
    
                <p>
                    {{overview12}}
                </p>
                <button class="button2">👍</button>
                <button class="button2">👎</button>
            </div>

            <!-- cuadro -->
            <div class="boxwhite">
                <h2>
                    <img src=hh width="50" height="50"/>
                    {{title4}}
                </h2>
    
                <p>
                    {{overview4}} 
                </p>
                <button class="button2">👍</button>
                <button class="button2">👎</button>
            </div>

            <!-- cuadro -->
            <div class="boxwhite">
                <h2>
                    <img src=hh width="50" height="50"/>
                    {{title5}}
                </h2>
    
                <p>
                    {{overview5}} 
                </p>
                <button class="button2">👍</button>
                <button class="button2">👎</button>
            </div>

            <!-- cuadro -->
            <div class="boxwhite">
                <h2>
                    <img src=hh width="50" height="50"/>
                    {{title6}}
                </h2>
    
                <p>
                    {{overview6}}
                </p>
                <button class="button2">👍</button>
                <button class="button2">👎</button>
            </div>

            <!-- cuadro -->
            <div class="boxwhite">
                <h2>
                    <img src=hh width="50" height="50"/>
                    {{title7}}
                </h2>
    
                <p>
                    {{overview7}} 
                </p>
                <button class="button2">👍</button>
                <button class="button2">👎</button>
            </div>
            
            <!-- cuadro -->
            <div class="boxwhite">
                <h2>
                    <img src=hh width="50" height="50"/>
                    {{title8}}
                </h2>
    
                <p>
                    {{overview8}} 
                </p>
                <button class="button2">👍</button>
                <button class="button2">👎</button>
            </div>

            <!-- cuadro -->
            <div class="boxwhite">
                <h2>
                    <img src=hh width="50" height="50"/>
                    {{title9}}
                </h2>
    
                <p>
                    {{overview9}} 
                </p>
                <button class="button2">👍</button>
                <button class="button2">👎</button>
            </div>

        </div>

    </body>
</html>